@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}



<div class="row">
    <div style="text-align:center">


        <div class="col-lg-6 mx-auto rounded border p-3 text-center">
            <h4 class="text-center mb-3">Create a new account.</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                @*First Name*@
                <div class="form-floating mb-3">
                    <input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.FirstName">First Name</label>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                @*Last Name*@
                <div class="form-floating mb-3">
                    <input asp-for="Input.LastName" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.LastName">Last Name</label>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>

                @*PHONE NUMBER*@
                <div class="form-floating mb-3">
                    <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.PhoneNumber">Phone Number</label>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Username</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="row mb-3">
                    <div class=" col-sm-4 d-grid">
                        <button type="submit" class="btn btn-outline-success text-center" role="button">Register</button>
                    </div>
                     <div class="col-sm-4 d-grid">
                        <a class="btn btn-outline-primary text-center" href="/" role="button">Cancel</a>

                    </div>
                </div>


            </form>
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
